@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Quiz - Utveckling i Windows molntjänster</h1>
    <p>Välj ett quiz nedan eller i menyn.</p>


    <div>
        <a class="btn btn-primary m-2" asp-controller="Quiz" asp-action="Index" asp-route-quizId="1">Quiz 1</a>
        <a class="btn btn-primary m-2" asp-controller="Quiz" asp-action="Index" asp-route-quizId="2">Quiz 2</a>
        <a class="btn btn-primary m-2" asp-controller="Quiz" asp-action="Index" asp-route-quizId="3">Quiz 3</a>
        <a class="btn btn-primary m-2" asp-controller="Quiz" asp-action="Index" asp-route-quizId="4">Quiz 4</a>
        <a class="btn btn-primary m-2" asp-controller="Quiz" asp-action="Index" asp-route-quizId="5">Quiz 5</a>
    </div>
    <div>
        <br />
        <p>GitHub: <a href="https://github.com/AdamLunaAH/QuizAppMVC">https://github.com/AdamLunaAH/QuizAppMVC</a></p>
    </div>

</div>
